@tailwind base;
@tailwind components;
@tailwind utilities;


.e-button{
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(243,52,224,1) 100%);
  transition: all 0.3s ease-out;
}

.e-button:hover{
  background: rgb(255,0,0);
  background: linear-gradient(270deg, rgb(184, 4, 4) 0%, rgb(161, 45, 149) 100%);
  box-shadow: 0px 0 10px 5px rgba(255, 0, 0, 0.5);
  text-shadow: 1px 0 10px #FFF;
}
h1:hover{
  text-shadow: 1px 0 5px #FFF;
}
.link{
  background-color: #7270d8;
  background-clip: text;
  color: transparent;
}
.link:hover{
  background: rgb(255,0,0);
  background: linear-gradient(137deg, rgba(255,0,0,1) 0%, rgba(243,52,224,1) 100%);
  background-clip: text;
}
.mid{
   background: url("/bg.svg") ;
    
   background-repeat: no-repeat;
   background-size: cover;
   

}
.cards{
  z-index: 10;
  animation: upanim 0.7s ease-out forwards;
}

@keyframes upanim{
  0%{
    opacity:0;
    transform: translateY(0);
  }
  50%{
    opacity: 0.3;
  }
  100%{
    opacity:1;
    transform: translateY(-63%);
  }
}
.card{

}